@{
    Layout = null;
}

<footer class="row-fluid">
    <p class="footer-text font-weight-bold">Сайт создан для любителей мини-пигов. Ни одна хрюшка при создании сайта не пострадала. 2020</p>
</footer>