@{
    Layout = null;
}

<div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="~/Pages/Photo.cshtml">Фото</a></li>
        <li class="nav-item"><a class="nav-link" href="~/Pages/Video.cshtml">Видео</a></li>
        <li class="nav-item"><a class="nav-link" href="~/Pages/PigStories.cshtml">Пиго-истории</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Ищу хозяина</a></li>
        @if (User.IsInRole("admin"))
        {
            <li class="nav-item"><a class="nav-link" href="~/Pages/Administration.cshtml">Администрирование</a></li>
        }
    </ul>
</div>