@{
    Layout = null;
}

<div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#">Новости</a></li>
        <li class="nav-item"><a class="nav-link" href="~/Pages/Photo.cshtml">Фото</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Видео</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Вопрос-ответ</a></li>
        <li class="nav-item"><a class="nav-link" href="~/Pages/PigStories.cshtml">Пиго-истории</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Ищу хозяина</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Кто мы такие</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
    </ul>
</div>