@using PiggiesWorld.BLL.Contracts;
@using PiggiesWorld.PL.Web.Models;
@using Ninject;

@{
    Layout = null;
    IPhotoManager photoManager = DependencesResolver.Resolver.Get<IPhotoManager>();

    var photoCount = (int)Page.PhotoCount;
}

<div class="photo-container">
    <div class="row">
        @foreach (var item in photoManager.GetPhotoWithUploaders(photoCount, !(User.IsInRole("admin") || User.IsInRole("moderator"))))
        {
            <div class="col-md-3 col-sm-4 col-xs-6 thumb text-center" title="@item.photo.Description">
                <a data-fancybox="gallery" href="~/Images/Photo/@(item.photo.Path)" data-caption="Автор: @item.uploaderName">
                    <img class="img-responsive" src="~/Images/Photo/@(item.photo.Path)" alt="@item.photo.Description" width="260">
                </a>
                <div class="d-flex justify-content-around">
                    <p>Добавлено @item.photo.UploadDate.ToString("MM.dd.yyyy HH:mm")</p>
                </div>
                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <div class="d-flex justify-content-around">
                        <form action="~/Pages/PhotoPages/DeletePhotoTemp.cshtml?photoID=@(item.photo.ID)" method="post">
                            <input type="submit" class="btn btn-danger m-md-2" name="delete" value="delete" />
                        </form>
                        @if (!item.photo.IsSubmited)
                        {
                            <form action="~/Pages/Submit.cshtml?photoID=@(item.photo.ID)" method="post">
                                <input type="submit" class="btn btn-success m-md-2" name="submit_photo" value="submit" />
                            </form>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
