@using PiggiesWorld.BLL.Contracts;
@using PiggiesWorld.PL.Web.Models;
@using Ninject;

@{
    Layout = null;
    var vedeoManager = DependencesResolver.Resolver.Get<IVideoManager>();

    var videoCount = (int)Page.VideoCount;
}

<div class="video-container">
    <div class="row">
        @foreach (var item in vedeoManager.GetVideoWithUploaders(videoCount, !(User.IsInRole("admin") || User.IsInRole("moderator"))))
        {
            <div class="card m-md-3 p-md-2 thumb text-center">
                <h6>@item.video.Description</h6>
                <iframe src="@(item.video.Url)" width="480" height="360" frameborder="1" allowfullscreen></iframe>
                <div class="d-flex justify-content-around">
                    <p>Добавлено @item.video.UploadDate.ToString("MM.dd.yyyy HH:mm")</p>
                    <p>Автор: @item.uploaderName</p>
                </div>
                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <div class="d-flex justify-content-around">
                        <form action="~/Pages/VideoPages/DeleteVideoTemp.cshtml?videoID=@(item.video.ID)" method="post">
                            <input type="submit" class="btn btn-danger m-md-2" name="delete" value="delete" />
                        </form>
                        @if (!item.video.IsSubmited)
                        {
                            <form action="~/Pages/Submit.cshtml?videoID=@(item.video.ID)" method="post">
                                <input type="submit" class="btn btn-success m-md-2" name="submit_video" value="submit" />
                            </form>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
