@{
    Layout = "/Layouts/_externalLayout.cshtml";

    int storyCount = Request["storyCount"] == null ? 20 : int.Parse(Request["storyCount"]);

    Page.StoryCount = storyCount;
}

<div class="container center-block text-center">

    <div class="d-flex justify-content-around">
        @RenderPage("~/PartialPages/_story.cshtml")
    </div>

    <div>
        <a class="btn-secondary" href="~/Pages/PigStories.cshtml?storyCount=@(storyCount + 20)">Показать еще</a>
        <div class="w-100"></div>
        <button type="button" class="btn-secondary" data-toggle="modal" data-target="#addStoryModal">Предложить пиго-историю</button>
    </div>
    <div class="modal fade" id="addStoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Заполните поля</h4>
                </div>
                <form action="~/Pages/UploadStory.cshtml" enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <input type="text" name="story_title" placeholder="введите заголовок*" maxlength="30" size="48" value="" required />
                        <div class="mb-md-1">
                            <label for="preview_photo" class="btn-link">загрузите фото для заголовка*</label>
                            <input id="preview_photo" type="file" accept="image/jpeg, image/jpg" name="preview_photo" value="" required />
                        </div>
                        <textarea class="non-resize" name="story_description" placeholder="описание истории*" rows="5" cols="50" maxlength="80"></textarea>
                        <textarea class="non-resize" name="story_body" placeholder="тело истории*" rows="12" cols="50" maxlength="500"></textarea>
                        <input type="text" name="story_header1" placeholder="введите подзаголовок (не обязательно)" maxlength="30" size="48" value="" />
                        <div class="mb-md-1">
                            <label for="inner_photo1" class="btn-link">добавьте фото (не обязательно)</label>
                            <input id="inner_photo1" type="file" accept="image/jpeg, image/jpg" name="inner_photo1" value="" />
                        </div>
                        <textarea class="non-resize" name="inner_text1" placeholder="дополнительная информация (не обязательно)" rows="12" cols="50" maxlength="500"></textarea>
                        <input type="text" name="story_header2" placeholder="введите еще подзаголовок (не обязательно)" maxlength="30" size="48" value="" />
                        <div class="mb-md-1">
                            <label for="inner_photo2" class="btn-link">добавьте еще фото (не обязательно)</label>
                            <input id="inner_photo2" type="file" accept="image/jpeg, image/jpg" name="inner_photo2" value="" />
                        </div>
                        <textarea class="non-resize" name="inner_text2" placeholder="добавьте дополнительную информацию (не обязательно)" rows="12" cols="50" maxlength="500"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <input type="submit" class="btn btn-primary" name="add_history" value="Добавить пиго-историю" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

