@{
    Layout = "/Layouts/_externalLayout.cshtml";

    int videoCount = Request["videoCount"] == null ? 20 : int.Parse(Request["videoCount"]);

    Page.VideoCount = videoCount;
}

<div class="container">
    @RenderPage("~/PartialPages/_video.cshtml")
    <div class="center-block text-center">
        <div>
            <a class="btn-secondary" href="~/Pages/Video.cshtml?videoCount=@(videoCount + 20)">Показать еще</a>
            <div class="w-100"></div>
            <button type="button" class="btn-secondary" data-toggle="modal" data-target="#addVideoModal">Предложить видео</button>
        </div>
        <div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Выберите видео</h4>
                    </div>
                    <form action="~/Pages/UploadVideo.cshtml" enctype="multipart/form-data" method="post">
                        <div class="modal-body">
                            <input type="text" name="video_link" value="" placeholder="URL" required />
                            <input type="text" name="video_description" value="" placeholder="краткое описание" required />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <input type="submit" class="btn btn-primary" name="load_file" value="Загрузить" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>