@{
    Layout = "/Layouts/_externalLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="left-main m-md-3">
            <img class="img-responsive img-thumbnail" src="~/Images/preview-pig.jpeg" width="500" alt="Красивый поросенок на травке" />
        </div>
        <div class="right-main m-md-3">
            <div class="card" style="width: 450px; background: rgba(245, 245, 245, 0.8);">
                <div class="card-body ml-md-2 mr-md-2">
                    <div class="text-center text-info"><h2 class="card-title">Привет, дорогой друг!</h2></div>
                    <p class="card-text text-info" align="justify" style="white-space: pre-wrap;">Добро пожаловать в наш клуб!
    Являешься владельцем мини-пига? Любишь посмотреть на розовые пятачки? Нравится наблюдать, как бешеные кабанчики носятся друг за другом? Или вообще случайно попал сюда?
    Это не имеет значения! Наш клуб рад принять любого нового члена! 
    Здесь ты можешь полюбоваться на фотографии молодых поросят разных пород, посмотреть смешные видео с чудными мини-пигами, почитать интересные истории других членов клуба о их питомцах.
    А также ты можешь поделиться любой информацией о своих питомцах, питомцах знакомых, или просто о большой любви к розовым и теплым братьям нашим меньшим.
    Клуб создан для любителей пятачков, желаем тебе хорошо провести здесь время!</p>
                </div>
            </div>
        </div>
        <div class="m-md-3">
            <div class="text-center">
                <h4 class="text-info">Добавим в этот мир немного розового!</h4>
                <img class="img-responsive img-thumbnail" width="500" src="~/Images/tverk.gif" alt="танцующий поросенок" />
            </div>
        </div>
        <div class="m-md-3">
            <div class="text-center">
                <h4 class="text-info">Присоединяйся к нам!</h4>
                <img class="img-responsive img-thumbnail" width="450" src="~/Images/pig-jump.gif" alt="поросята прыгают на диван" />
            </div>
        </div>
    </div>
</div>
