@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Content/footer.css" rel="stylesheet" />
    <link href="~/Content/photo.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fancybox-try.css" rel="stylesheet" />
    <link href="~/Content/image-styles.css" rel="stylesheet" />
</head>
<body>
    <div class="main-body">
        <div>
            @RenderPage("~/PartialPages/_header.cshtml")
        </div>
        <div class="main-content">
            @RenderBody()
        </div>
        <footer class="footer text-center">
            @RenderPage("~/PartialPages/_footer.cshtml")
        </footer>
    </div>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/fancybox-try.js"></script>
<script src="~/JS/uncheck-radio-buttons.js"></script>
</body>
</html>
