@using PiggiesWorld.PL.Web.Models;
@using Ninject;
@using PiggiesWorld.BLL.Contracts;
@using PiggiesWorld.Common.Entities;

@{
    Layout = "/Layouts/_externalLayout.cshtml";

    bool isIncorrect = Request["incorrect"] == "true";
}

<link href="~/Content/auth.css" rel="stylesheet" />
<div>
    <form class="box" action="~/Pages/AuthPages/RegistrationTemp.cshtml" onsubmit="return validateForm()" method="post">
        <h1>Регистрация</h1>
        @if (isIncorrect)
        {
            <p id="error-massage" class="text-danger">Неверно указан логин или пароль!</p>
        }
        <input id="login" type="text" placeholder="Имя пользователя" maxlength="20" name="login" required>
        <input id="pass" type="password" placeholder="Пароль" maxlength="20" name="password" required>
        <input type="date" placeholder="Дата рождения" name="birthDay" required>
        <input id="submit" type="submit" value="Регистрация" name="registration">
    </form>
</div>
<script src="~/JS/validation.js"></script>